<h1>OUCH! <%= @game.player_1.name %> you've been hit!</h1>
<form action= "/play" method="get">
    <input type="submit" value="FIGHT AGAIN!">
</form>

<img src="https://i1.wp.com/i1.sndcdn.com/artworks-000051141856-zppe05-original.jpg" alt=“Pow” style="height:70%;" />
