<h1><%= @game.players.last.name %> lost!</h1>

<img src="http://3.bp.blogspot.com/-lzWUbWb74WY/VGVgEZ8CESI/AAAAAAAAAJY/z7RU8GvGGaM/s1600/CAT_Superheroes%2BPop%2BArt%2BText%2Band%2BBubbles%2B1.png" alt=“Pow” style="height:70%;" />
